<h1>
  <%= @todo.title %>
  <%= link_to edit_todo_path(@todo), class: "ml-1" do %>
    <i class='fa fa-edit'></i>
  <% end %>
</h1>

<div class="todo-details mb-3"><%= @todo.details %></div>

<p><%= check_box_tag('completed', value='1', checked = @todo.completed, options = {id: @todo.id}) %> <%= @message %></p>

<hr>

<%= link_to todos_path do %>
  <span><i class='fa fa-chevron-left'></i> Back to list</span>
<% end %>
