<h1><%= @todo.title %></h1>

<div><%= @todo.details %></div>

<p><%= check_box_tag('completed', value='1', checked = @todo.completed, options = {id: @todo.id}) %> <%= @message %></p>

<%= link_to 'Back to list', '/todos' %>
